<header class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

    <!-- Logo -->
    <a routerLink="/" class="text-xl font-bold text-orange-500">
     KFARJAOUZ
    </a>

    <!-- Menu -->
   <nav class="hidden md:flex gap-6 text-gray-700">
  <a 
    routerLink="/" 
    routerLinkActive="text-orange-500 font-semibold"
    [routerLinkActiveOptions]="{ exact: true }"
    class="hover:text-orange-500 cursor-pointer transition"
  >
    Home
  </a>

  <a 
    routerLink="/about" 
    routerLinkActive="text-orange-500 font-semibold"
    class="hover:text-orange-500 cursor-pointer transition"
  >
    About
  </a>

  <a 
    routerLink="/services" 
    routerLinkActive="text-orange-500 font-semibold"
    class="hover:text-orange-500 cursor-pointer transition"
  >
    Services
  </a>

  <a 
    routerLink="/contact" 
    routerLinkActive="text-orange-500 font-semibold"
    class="hover:text-orange-500 cursor-pointer transition"
  >
    Contact
  </a>
</nav>

    <!-- CTA -->
    <button
      routerLink="/contact"
      class="bg-orange-500 text-white px-5 py-2 rounded-md hover:bg-orange-600 transition"
    >
      Get a Quote
    </button>

  </div>
</header>
