<div class="flex justify-center items-center mt-6 space-x-2">
  <!-- Previous Button -->
  <button
    (click)="prevPage()"
    [disabled]="currentPage === 1"
    class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50"
  >
    Prev
  </button>

  <!-- Page Numbers -->
  <ng-container *ngFor="let page of pages">
    <button
      (click)="goToPage(page)"
      [class.bg-blue-500]="currentPage === page"
      [class.text-white]="currentPage === page"
      class="px-3 py-1 bg-gray-200 rounded"
    >
      {{ page }}
    </button>
  </ng-container>

  <!-- Next Button -->
  <button
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
    class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50"
  >
    Next
  </button>
</div>
