<!-- <h2>Services in Kfarjouz</h2>

<div class="services">
  <div class="card" *ngFor="let service of servicesSignal()">
    <img [src]="service.image" width="200" />
    <h3>{{ service.title }}</h3>
    <p class="category">{{ service.category }}</p>
    <p class="description">{{ service.description }}</p>
    <p class="phone">Phone: {{ service.phone }}</p>
  </div>
</div>
 -->

 <h1 class="text-3xl font-bold text-blue-600">
  Tailwind is working 🚀
</h1>

<button class="mt-4 px-4 py-2 bg-black text-white rounded-xl">
  Click me
</button>



