/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
  }
}


:root {
  --primary-orange: #F97316;
  --dark-orange: #EA580C;
  --light-orange: #FFEDD5;

  --white: #FFFFFF;
  --soft-gray: #F9FAFB;
  --dark-text: #111827;
  --muted-text: #6B7280;
  --border-gray: #E5E7EB;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}



