/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-orange: #F97316;
  --dark-orange: #EA580C;
  --light-orange: #FFEDD5;

  --white: #FFFFFF;
  --soft-gray: #F9FAFB;
  --dark-text: #111827;
  --muted-text: #6B7280;
  --border-gray: #E5E7EB;
}
